# Ignore DS_Store
.DS_Store

# Ignore Python cache files
**/__pycache__/
**/.ipynb_checkpoints/

# Ignore notebook files
*.ipynb

# Ignore data files/directories
*.tif
*.csv
*.xlsx
data/*
!data
validation/*
!validation

# Ignore large model files
model/*
!model/*.txt
*.pk
*.pt

# Ignore figures
figure/*
!figure
*.png
*.tif

# Ignore SLURM output
*.out
*.err
